# Set Mode 
# VITE_AUTH_API_MODE=live   (login ke backend asli)
# VITE_SPBU_API_MODE=mock   (search masih pakai dummy jika backend belum siap)

VITE_AUTH_API_MODE=live
VITE_SPBU_API_MODE=live

# API Backend URL
VITE_API_BASE_URL=http://localhost:5152/api
